@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(253, 253, 253)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.frontPage {
  width: 600px;
  padding: 5px;
}

.banner {
  margin-top: 3%;
  margin-bottom: 1%;
  display:block;
  width:100%;
  float: left;
  text-shadow: 2px 2px 0px rgba(211, 211, 211, 1);
  font-family: "Playfair Display", "times", "serif";
  font-stretch: condensed;
  font-size: 500%;
  font-weight: 500;
  line-height: 50%;
}

.buttons {
  display: block;
  font-size: 40%;
}
.button {
  display: inline;
  border: none;
  font-weight: bold;
  background: none;
  top: 50%;
}

.picture {
  /* transform: scale(0.5, 0.5); */
  float: right;
  max-width: 350px;
  max-height: autopx;
  overflow: hidden;
  display: block;
  padding: 4px;
}

.clear {
  clear:both;
}

.headline {
  font-size: 100%;
  display: block;
}

.byline {
  display: block;
  float: left, top;
  line-height: 50%;
  padding-right: 2%;
}

.story {
  padding-left: 5px;
}

.stripe {
  display:block;
  padding: 3px;
  background-color: #cc0000;
  color: rgb(253, 253, 253);
  text-align: right;
  font-family: "helvetica", "sans-serif";
  font-size: 80%;
  font-weight: bold;
  width: 100%;
}

.date{
  display:block;
  float:left;
}